{% extends "duradiff/main_template.html" %}
{% block title %}My Hello Page{% endblock %}
{% block content %}
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</head>
 
<p>
                {% load static %}
                <img src="{% static "display/logo.jpg" %}" alt="My image"/>
 
  </p>
<div class = "container">
  <div class = "jumbotron">
 
<form action=" " method="post">{% csrf_token %}
    <label for="month">Month: </label>
    {{form.month}}
    <label for="year">Year: </label>
    <input id="year" type="text" name="year">
    <label for="rid">rid: </label>
    <input id="rid" type="text" name="rid">
    <label for="misc">misc: </label>
    <input id="misc" type="text" name="misc">
    <label for="conv">conv: </label>
    <input id="conv" type="text" name="conv">
    <input type="submit" value="Calculate Salary">
</form>
<p>
</div>
 
{% endblock %}